*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body{
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10px ;
}
.header{
  background:  #0c6c79 ;
  width: 100%;
  height: 5.5em;
  position: top;
  text-align: center;
}

.header h1{
  color: white;
  font-style: italic;
  font-weight: 100;
  display: inline-block;
  vertical-align: bottom; 
}
.holder{
  margin: 0 auto;  
  height: 5.5em; 
}
.holder img{
  margin:auto;
}
/*inicio  formulario - login.hbs*/

#formulario{
  display:flex;
  justify-content:center;
  justify-items: center;
  align-items: center;
  margin: 80px auto ;
  width: 290px; 
  height: 350px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: rgba(255, 255, 255, 0.144);
  padding-bottom: 2rem;
}
.container .row .icono{
  text-align: center;
  margin: 0.7rem auto 0;
}
.container .row .icono i{
  color: #0c6c79 ;
  font-size: 30px;
}
.container .row h2 {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}
.container .row form div{
  width: 100%;
  align-items: center;
  align-content: center;
 padding-left: 1.2rem;
}
.container .row input,
.container .row textarea{
  width: 100%;
  border:none;
  background: none;
  outline: 0;
  border-bottom: 1px solid rgb(0, 183, 255);
  color:#0a0a0a;
}
.container .row button {  
  background:#0c6c79;
  border:0;
  margin: 1rem 1.5rem  0.5rem ;
  transition: 0.2s;
  width: 80%;
}
.container .row button:hover {
  background: #61a54c;
  color:#000000;
}
.container .row .error{
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  color: rgb(150, 25, 25);
}
/*fin  formulario -login.hbs*/
/*inicio pantalla de novedades -novedades.hbs*/
#fila2{
  background: #050505;
  color:#fff;
  align-items: center;
  width: auto;
  margin: auto;
}
.container .row h3{
  margin: 0.5rem auto;
}
/* .container .row .table-dark th{
  text-align: center;
} */
.container .row .table-dark th:nth-of-type(3){
  text-align:start;
}
/*fin pantalla de novedades -novedades.hbs*/
/*inicio agregar novedad -agregar.hbs*/
#agregarNovedad {
  height: 510px;
  justify-content:center;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: rgba(255, 255, 255, 0.144);
  padding: 0.7rem 1.5rem ;
  margin: 2rem auto 0.5rem; 
 
}
#agregarNovedad .icono{
  margin: 1rem auto 0.6rem;
}
#agregarNovedad .imgsubir{
padding-left: 1rem; 
}
#agregarNovedad .agregarimg{
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  color: #847592;
}
#agregarNovedad .agregarimg #imagen{
  text-align: left;
  padding-top: 1rem;
  padding-left: 0;
  margin-left: 0;
}

#agregarNovedad .botonesAgregar{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem; 
}
#agregarNovedad .botonesAgregar a{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 1rem 1.5rem 0.5rem auto  ;
  height:2.25rem;
  
}
#agregarNovedad .botonesAgregar a i{
 padding-right: 0.5rem;
}
/*inicio modificar novedad -modificar.hbs*/

#modificarNovedad{
  height: 650px;
  width: 600px ;
  justify-content:center;
  justify-items: center;
  align-items: center;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: rgba(255, 255, 255, 0.144);
  padding: 1rem 2.3rem 1rem 1.3rem;
  margin: 1rem auto;
}
#modificarNovedad .tituloModificar{
  text-align: center;
}
#modificarNovedad label{
  text-align: right;
  font-weight: 600;
  margin: 0.3rem auto;
  padding-left:0.5rem ;
  color:#050505;
}
#modificarNovedad .icono{
  margin: 0.3rem auto 0.5rem;
}
#modificarNovedad .botonesModificar{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0.2rem; 
}
#modificarNovedad .botonesModificar a{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 1rem 1.5rem 0.5rem auto;
  height:2.25rem;
  
}
#modificarNovedad .botonesModificar a i{
 padding-right: 0.5rem;
}
#modificarNovedad .imgsubir .agregarimg{
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#modificarNovedad .imgsubir #imagen{
  text-align: left;
  padding-top: 1rem;
}
#modificarNovedad .imgborrar {
  display: flex;
  padding-top: 1rem;
}

#modificarNovedad .imgborrar label{
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  font-size: 13.5px;
}

#modificarNovedad .imgborrar .img_delete{
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  overflow: hidden;
}
/*fin modificar novedad -modificar.hbs*/


footer{
  background-color: #ccc;
  clear: both;
  color: #333;
  padding: 10px 0;
  text-align: center;
  /* para que el footer quede siempre abajo */
  position:sticky;
  bottom: 0;
  width: 100%;  
}
footer p{
margin: 0.1rem auto;
}