{{!-- Formulario --}}
<div class="container" >
    <div id="formulario" class="row">
        <div class="icono"><i class="fa-solid fa-paw"></i></div>
        <h2>Inicia sesión</h2>
        {{!-- ruta --}}
        <form action="/admin/login" method="post">
        <div class="mb-3 row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputUser" placeholder="Usuario" name="usuario">
            </div>
        </div> 
        <div class="mb-3 row">
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassord" placeholder="Contraseña" name="password">
            </div>
        </div> 
        <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
        {{#if error}}
          <p class="error"> Usuario o contraseña incorrectos.</p>
        {{/if}}
    </div>
</div>