<h2>Hola soy la pagina de Novedades- enlazada a la Ruta 3</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium non at ullam earum odit, pariatur nesciunt
    nemo porro libero rem maiores voluptatum temporibus, laudantium rerum. Quibusdam sequi atque veritatis!</p>