body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
 }
 h1{
     text-align: center;
     background-color: rgba(61, 206, 109, 0.527);
     margin: 40px 0 ;
 }
.box{
    width:auto;
    
  }
  
textarea{
    width: 100%;
    height: 150px;
  }