

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body{
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10px ;

}
.holder{
  margin: 0 auto;  
  height: 5.5em; 
}
.holder img{
  margin:auto;
}
h1{
  color: white;
  font-style: italic;
  font-weight: 100;
  display: inline-block;
  
}
.left{
  float: left;
  border:3px solid rgba(0, 0, 0, 0.267);
  border-radius: 10px 0 ;
}

.right{
  float: right;
  border:1px solid rgba(0, 0, 0, 0.267);
}

 